body{
    
    &>header{
        
        display: grid;
        grid-template-columns: 0.25fr 0.75fr;
        
        &>section{
            
            display: grid;
            grid-template-columns: 0.2fr 0.2fr 0.6fr;
            padding: 0.5rem;
            border-right: none;
            border-bottom: 1px solid black;
            
            &>button{
                
                font-size: 3rem;
                background: none;
                border: none;
                cursor: pointer;
            }
            
            &>figure{
                
                grid-column: 3 / 4;
            }
        }
        
        &>nav{
            
            
            border-bottom: 1px solid var(--black);
        }
    }
}